
<table width="100%">
  <tr>
    <th align="center" valign="top" width="49%"> 
      <font Color=white><h2>White Player</h2></font></th>
    <th align="center" width="2%">        
     <div class="card">
      <a href="/index"><img src="images/chip.png" alt="Card Back"></a>
      <a href="/index"><img src="images/chip2.png" class="img-top" alt="Card Front"></a>
     </div>
    </th>
    <th align="center" valign="top" width="49%">    
      <font class="blackplayer" Color=black><h2>Black Player</h2></font>
     
    </th>
  </tr>
    <tr>
    <td align="center">
    <% p "#{white}" %>
    <hr/>
    <% white.each do |v| %>
      <img width="115" height="168" src="/images/cards/<%= v %>.png">
    <% end %>

<hr/>
<!-- Score -->
    <% p "#{white_score}" %>
    <!-- <hr/> --> 
    <%= p "#{white_hand.gsub(/10/, "Ten").gsub(/11/, "Jack").gsub(/12/, "Queen").gsub(/13/, "King").gsub(/14/, "Ace")}" %> 
	  </td>
    <td align="center">
    <% removematch = white_high_card.sort & black_high_card.sort %>
    <% white_high_card_compare = white_high_card - removematch %>
    <% black_high_card_compare = black_high_card - removematch %>
    <% if $w_score > $b_score %>
    <font color="white"> White Player Wins </font> <br>
    <img src="../images/white.gif">
    <% elsif $b_score > $w_score %>
      <font class="blackplayer" color="white">Black Player Wins </font><br>
      <img src="../images/black.gif"> 
    <% elsif $w_score and $b_score == 5 or $w_score and $b_score == 11 %>
      <% if white_high_card.sort.last == 14 and white_high_card.sort[3] == 5 %>
      <font class="blackplayer" color="white">Black Player Wins </font>
      <img src="../images/black.gif">
      <% elsif black_high_card.sort.last == 14 and black_high_card.sort[3] == 5 %>
        <font color="white">  White Player Wins</font> <br>
        <img src="../images/white.gif">  
        <% end %>
    <% elsif $w_score > 0 and $b_score == $w_score %>
      <% if white_rank_1.sort.last > black_rank_1.sort.last %>
        <font color="white">  White Player Wins </font><br>
        <img src="../images/white.gif">
      <% elsif white_rank_1.sort.last < black_rank_1.sort.last %>
      <font class="blackplayer" color="white">Black Player Wins </font><br>
      <img src="../images/black.gif">
      <% else  %>
        <% if white_high_card_compare.sort.last > black_high_card_compare.sort.last %>
          <font color="white">White Player Wins </font> <br>
          <img src="../images/white.gif">
        <% elsif black_high_card_compare.sort.last > white_high_card_compare.sort.last %>
        <font class="blackplayer" color="white">Black Player Wins </font><br>
        <img src="../images/black.gif">
      <% else %>
          <font color="white"> "Its a Tie"  </font>
        <% end %>
      <% end %>
    <% else %> 
      <% if white_high_card_compare.sort.last > black_high_card_compare.sort.last %>
        <font color="white">White Player Wins </font> <br>
        <img src="../images/white.gif">
      <% elsif black_high_card_compare.sort.last > white_high_card_compare.sort.last %>
        <font class="blackplayer" color="white">Black Player Wins </font><br>
        <img src="../images/black.gif">
      <% else %>
        <font color="white"> "Its a Tie"  </font>
      <% end %>
<% end %>


    </td>
    <td align="center">
    <% p "#{black}" %>
    <hr/ color=black>
    <% black.each do |v| %>
      <img width="115" height="168" src="/images/cards/<%= v %>.png">
    <% end %>


<!-- <hr/ color=black> -->
<!-- <font color=white>Score -->
<% p "#{black_score}" %>
    <hr/ color=black> 
    <%= p "#{black_hand.gsub(/10/, "Ten").gsub(/11/, "Jack").gsub(/12/, "Queen").gsub(/13/, "King").gsub(/14/, "Ace")}" %>
    </font>
    </td>
  </tr>
</table>