
<table width="100%">
  <tr>
    <th align="center" width="45%">Player 1</th>
    <th align="center" width="10%">Deal</th>
    <th align="center" width="45%">Player 2<br>
     
    </th>
  </tr>
    <tr>
    <td align="center">
	<img width="115" height="168"  src="/images/cards/10_of_hearts.png"> <img width="115" height="168" src="/images/cards/jack_of_hearts2.png"> <img width="115" height="168" src="/images/cards/queen_of_hearts2.png">
	<img width="115" height="168" src="../images/cards/king_of_hearts2.png"> <img width="115" height="168" src="../images/cards/ace_of_hearts.png">
    </td>
    <td align="center">
    Tie
    </td>
    <td align="center">
	<img width="115" height="168" src="/images/cards/10_of_spades.png"> <img width="115" height="168" src="/images/cards/jack_of_spades2.png"> <img width="115" height="168" src="/images/cards/queen_of_spades2.png">
	<img width="115" height="168" src="/images/cards/king_of_spades2.png"> <img width="115" height="168" src="/images/cards/ace_of_spades2.png">
    </td>
  </tr>
</table>