<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

<title>Poker App</title>
<center>
<body>
 <nav>
    <div class="dropdown">
      <button class="dropbtn"><b>Home</b></button>
        <div class="dropdown-content">
          <a href="/index">Home</a>
        </div>
    </div>
    <div class="dropdown">
     <button class="dropbtn"><b>Awesome Websites</b></button>
        <div class="dropdown-content">
          <a target=”_blank” href="http://www.disturbedmedia.com">Disturbedmedia.com</a>
          <a target=”_blank” href="http://www.minedminds.org/">Mined Minds</a>
    	    <a target=”_blank” href="https://www.w3schools.com/">W3schools.com</a>
        </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><b>Social Media</b></button>
        <div class="dropdown-content">
          <a target=”_blank” href="http://www.twitter.com/twfdisturbed">twitter @twfdisturbed</a>
    	    <a target=”_blank” href="https://www.instagram.com/twfdisturbed">instagram @twfdisturbed</a>
          <a target=”_blank” href="http://www.youtube.com/twfdisturbed">Youtube</a>
        </div>
    </div>

</nav>

<header><h2>Poker App</h2></header>
  <article>
    <%=yield%>
</article>
</body>

<footer>
    <center>
        <p> <font color="#ffffff"> App by :</font> Twfdisturbed </p>
      
    </center>
</footer>
</center>